
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>lucky number</title>
    </head>
    <body>
        <h1>Your lucky number is: {{lucky_num}}</h1>
        <p>{{msg}}</h1>   
        
        {% if lucky_num == 3%}
        <h2>That's my lucky number too!</h2>
        <iframe src="https://giphy.com/embed/YpvufSuDWxOEB9LwNW" width="270" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/RiseatSeven-seo-links-digital-pr-YpvufSuDWxOEB9LwNW">via GIPHY</a></p>>
        {% else %}
        <h3>I don't like that number</h3>
        <iframe src="https://giphy.com/embed/Av11GmPEGlDQk" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Av11GmPEGlDQk">via GIPHY</a></p>
        {% endif %}
            
    </body>
</html>
